name: CI - Build and Push

on:
  release:
    types: [published]
  workflow_dispatch:  # Manual trigger
  push:
    branches:
      - 'feat/fallback-helm-*'
      - 'main'

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build Docker Image
    uses: ./.github/workflows/build-and-publish.yml
    with:
      image_artifact_name: spark-job-fallback-management
      image_tag: ${{ github.sha }}
      extra_image_tag: ${{ github.ref_name }}
      # Using JFrog only (no ECR)
      enable_jfrog: true
      enable_public_ecr: false
      artifactory_registry_url: tfy.jfrog.io
      artifactory_repository_url: tfy.jfrog.io/tfy-images
      dockerfile_path: Dockerfile
      image_context: '.'
      platforms: 'linux/amd64'
    secrets:
      artifactory_username: ${{ secrets.TRUEFOUNDRY_ARTIFACTORY_PRIVATE_USERNAME }}
      artifactory_password: ${{ secrets.TRUEFOUNDRY_ARTIFACTORY_PRIVATE_PASSWORD }}
