name: CI - Build and Push

on:
  release:
    types: [published]
  workflow_dispatch:  # Manual trigger
  push:
    branches:
      - 'feat/fallback-helm-*'
      - 'main'

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build Docker Image
    uses: ./.github/workflows/build-and-publish.yml
    with:
      image_artifact_name: spark-job-fallback-management
      image_tag: ${{ github.sha }}
      extra_image_tag: ${{ github.ref_name }}
      enable_jfrog: false
      enable_public_ecr: true
      ecr_repository_url : 526077812922.dkr.ecr.us-east-1.amazonaws.com/sparkjob-fallback-management
      artifactory_registry_url: tfy.jfrog.io
      artifactory_repository_url: tfy.jfrog.io/sparkjob-fallback-management
      dockerfile_path: Dockerfile
      image_context: '.'
      platforms: 'linux/amd64'
    secrets:
      artifactory_username: ${{ secrets.TRUEFOUNDRY_ARTIFACTORY_PRIVATE_USERNAME }}
      artifactory_password: ${{ secrets.TRUEFOUNDRY_ARTIFACTORY_PRIVATE_PASSWORD }}
